.itemsList {
    width: 100vw;
    .totals {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        p {
            font-size: 24px;
            font-family: 'Playfair Display', serif;
        }
        .budgetCheck {
            display: flex;
            flex-wrap: wrap;
            width: 15em;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-family: 'Josefin Sans', sans-serif;
            #underBudget {
                font-size: 32px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 600;
                color: hsl(120, 50%, 75%);
                text-align: center;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            #overBudget {
                font-size: 32px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 600;
                color: hsl(0, 75%, 75%);
                text-align: center;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            #inBudget {
                font-size: 32px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 600;
                color: hsl(195, 50%, 60%);
                text-align: center;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}