// background colors
$bgnav : #f8f8f6;
$bgmain : #fff8f0;
$bgmain2 : #dfe6e9;
$bgcardHeader : #f9efe4;
$bgcardMain : #f2fafd;
$bgcardButton : #e5e5e5;
$bgaccentGreen : #bfccbf;

// font colors
$txtprimary : #1f1f1f;
$txtsecondary : #0f0101;
$txttertiary : #1f1f1f80;
$txtheader : #1c1c1c;
$txtparagraph : #0d0d0cc7;
$txtbutton : #080808;
$txtlightButton : #ffffff;
$txtaccent : #fbcfb1;
